<div class="container">
  <div class="row p-5">
    <div class="account-container">

    <%= render "users/partial/tabs" %>

        <div id="Account Overview" class="tabcontent">
          <div class="row p-5">
            <div class="col-md-12">
              <h2>Your Details</h2>

                <table>
                  <tr class="row-border">
                    <td class="lable">First Name: </td>
                    <td><%= current_user.first_name %></td>
                  </tr>
                  <tr class="row-border">
                    <td class="lable">Last Name:</td>
                    <td><%= current_user.last_name %></td>
                  </tr>
                  <tr class="row-border">
                    <td class="lable">Email:</td>
                    <td><%= current_user.email %></td>
                  </tr>
                  <tr class="row-border">
                    <td class="lable">Location:</td>
                    <td><%= current_user.location %></td>
                  </tr>
                  <tr class="row-border">
                    <td class="lable">DOB:</td>
                    <td><%= current_user.dob %></td>
                  </tr>
                </table>

              <div class="col-md-12 mt-5">
                <button type="button" class="btn btn-primary d-none"> <%= link_to 'Edit profile', edit_user_registration_path %> </button>
                <button type="button" class="btn btn-primary d-none"> <%= link_to 'Create event', new_event_path %> </button>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>



