<div class="navbar navbar-expand-sm navbar-light navbar-lewagon sticky">

<div class="d-flex justify-content-around">
            <%= link_to events_path, class: "navbar-brand" do %>
    <%= image_tag "https://res.cloudinary.com/ddqpdj02o/image/upload/v1614705819/Stand_Up_Comedy_10_j2mygu.png" %>
    <% end %>

    <a class="nav-text" href="/events">Events</a>

    <a class="nav-text" href="/events">Artists</a>
    
      <div type="button" id="search-button" data-toggle="modal" data-target="#exampleModal">
      <i class="fas fa-search fa-lg"></i>
      </div>
</div>

 
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <% if current_user.photo.attached? %>
            <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false  %>
          <% else %>
            <%= image_tag "https://icon-library.com/images/no-profile-pic-icon/no-profile-pic-icon-12.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% end %>
          <div class="dropdown-menu dropdown-menu-right dropdown-background dropdown-border" aria-labelledby="navbarDropdown">
            <%= link_to "My Account", users_account_path(current_user), class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
