<% if @search %>
  <div class="banner-small" style="background-image: linear-gradient(60deg, #303030 0%, #181818 100%);">
    <div class="container">
      <h1><strong>SEARCH RESULTS</strong></h1>
      <h1 id="search-result">'<%= @query %>'</h1>
    </div>
  </div>
  <div class="container">
    <h3>Upcoming Events</h3>
    <p>You searched for '<%= @query %>'. Displaying <%= @events.count %> events.</p>

<div class="row">
<% @events.each do |event| %>
      <%# <% @events.where("start_time > ?", Date.today).sort_by{|p| p[:start_time]}.first(9).each do |event| %>
      
  <div class="example-1 card">
    <div class="wrapper" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.5)), url('<%= cl_image_path event.photo.key %>'); border-radius: 2px">
      <div class="date">
        <%# <div class="flex"> %>
                    <%= event.start_time.strftime('%e %B %Y') %>
                <%# </div> %>
      </div>
      <div class="data">
        <div class="content">
          <%# <span class="author"> <p>Hosted by <%= event.user.artist_name %>
          <p class="title"><%= event.user.artist_name %></p>
          
          <% if event.online? %>
          <p class="country-card">Streaming from <%= event.country %></p>
          <% else %>
          <p class="country-card"><%= event.city %> | <%= event.country %></p>
          <% end %>

          <div class="genre-box">
                 <% event.genres.each do |genre| %>
                   <span class="mr-2" ><%= genre.name %> </span>
                 <% end %>
               </div>

                    <%# <p class="title"><%= event.event_name %>
          <%= link_to 'Read More', event_path(event), :class => "button" %> 
          <%# <label for="show-menu" class="menu-button"><span></span></label> %>
        </div>
        <%# <input type="checkbox" id="show-menu" />
        <ul class="menu-content">
          <li>
            <a href="#" class="fa fa-bookmark-o"></a>
          </li>
          <li><a href="#" class="fa fa-heart-o"><span>47</span></a></li>
          <li><a href="#" class="fa fa-comment-o"><span>8</span></a></li>
        </ul> %>
      </div>
    </div>
  </div>

  <% end %>
 
</div>

  </div>
<% else %>

  <%= render 'shared/banner' %>
  <div class="container">
  <h3>Upcoming Events</h3>
<div class="row">
<%# <% @events.each do |event| %> 
      <% @events.where("start_time > ?", Date.today).sort_by{|p| p[:start_time]}.first(9).each do |event| %>
      
  <div class="example-1 card">
    <div class="wrapper" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.5)), url('<%= cl_image_path event.photo.key %>'); border-radius: 2px">
      <div class="date">
        <%# <div class="flex"> %>
                    <%= event.start_time.strftime('%e %B %Y') %>
                <%# </div> %>
      </div>
      <div class="data">
        <div class="content">
          <%# <span class="author"> <p>Hosted by <%= event.user.artist_name %>
          <p class="title"><%= event.user.artist_name %></p>
          
          <% if event.online? %>
          <p class="country-card">Streaming from <%= event.country %></p>
          <% else %>
          <p class="country-card"><%= event.city %> | <%= event.country %></p>
          <% end %>

          <div class="genre-box">
                 <% event.genres.each do |genre| %>
                   <span class="mr-2" ><%= genre.name %> </span>
                 <% end %>
               </div>

                    <%# <p class="title"><%= event.event_name %>
          <%= link_to 'Read More', event_path(event), :class => "button" %> 
          <%# <label for="show-menu" class="menu-button"><span></span></label> %>
        </div>
        <%# <input type="checkbox" id="show-menu" />
        <ul class="menu-content">
          <li>
            <a href="#" class="fa fa-bookmark-o"></a>
          </li>
          <li><a href="#" class="fa fa-heart-o"><span>47</span></a></li>
          <li><a href="#" class="fa fa-comment-o"><span>8</span></a></li>
        </ul> %>
      </div>
    </div>
  </div>

  <% end %>
 
</div>
<% end %>
</div>