<% if @search %>
  <div class="banner-small" style="background-image: linear-gradient(60deg, #303030 0%, #181818 100%);">
    <div class="container">
      <h1><strong>SEARCH RESULTS</strong></h1>
      <h1 id="search-result">'<%= @query %>'</h1>
    </div>
  </div>
  <div class="container">
    <h3>Upcoming Events</h3>
    <p>You searched for '<%= @query %>'. Displaying <%= @events.count %> events.</p>
    <div class="row">
      <% @events.each do |event| %>
        <%= link_to event_path(event) do %>
          <div class="col-4">
            <div class="event-card">
              <% if event.photo.attached? %>
                <div class="event-card-image" style="background-image: url('<%= cl_image_path event.photo.key %>')"></div>
              <% else %>
                <div class="event-card-image" style="background-image: url(<%= 'https://static.billboard.com/files/2020/12/chloe-x-halle-tiny-desk-2020-billboard-1548-1607458577-compressed.jpg' %>)"></div>
              <% end %>
              <div class="event-card-content">
                <div class="event-card-title">
                  <h4><%= event.event_name %></h4>
                  <p>Hosted by <%= event.user.artist_name %></p>
                </div>
                <div class="flex">
                  <%= event.country %>  |  <%= event.start_time.strftime('%e %B %Y') %>  |  <%= event.start_time.strftime('%l:%M %p') %>
                </div>
                <%# <p>£<%= Money.new(event.price_cents.to_s, :gbp) %>
                <div class="genre-box">
                  <% event.genres.each do |genre| %>
                    <span class="mr-2" ><%= genre.name %> </span>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% else %>
  <%= render 'shared/banner' %>
  <div class="container">
    <h3>Upcoming Global Events</h3>
    <div class="row">
      <% @events.where("start_time > ?", Date.today).sort_by{|p| p[:start_time]}.first(9).each do |event| %>
        <%= link_to event_path(event) do %>
          <div class="col-4">
            <div class="event-card">
              <% if event.photo.attached? %>
                <div class="event-card-image" style="background-image: url('<%= cl_image_path event.photo.key %>')"></div>
              <% else %>
                <div class="event-card-image" style="background-image: url(<%= 'https://static.billboard.com/files/2020/12/chloe-x-halle-tiny-desk-2020-billboard-1548-1607458577-compressed.jpg' %>)"></div>
              <% end %>
              <div class="event-card-content">
                <div class="event-card-title">
                  <h4><%= event.event_name %></h4>
                  <p>Hosted by <%= event.user.artist_name %></p>
                </div>
                <div class="flex">
                  <%= event.country %>  |  <%= event.start_time.strftime('%e %B %Y') %>  |  <%= event.start_time.strftime('%l:%M %p') %>
                </div>
                <%# <p>£<%= Money.new(event.price_cents.to_s, :gbp) %>
                <div class="flex">
                   <div class="online-box">
                    <span class="mr-2" >Online </span>
                </div>
                 <%# <div class="live-box">
                    <span class="mr-2" >Live </span>
                </div> %>

                <div class="genre-box">
                  <% event.genres.each do |genre| %>
                    <span class="mr-2" ><%= genre.name %> </span>
                  <% end %>
                </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <br>

    <h3>Featured Artists</h3>

     <div class="row">
       <% @artists.first(9).each do |artist| %>

          <div class="col-4">
            <div class="event-card">
        
             <div class="event-card-image" style="background-image: url('<%= cl_image_path artist.photo.key %>')"></div>
            
              <div class="event-card-content">
                <div class="event-card-title">
                  <h4><%= artist.artist_name %></h4>
                </div>
               
              </div>
            </div>
          </div>
         <% end %>
    </div>




  </div>
<% end %>


