<div class="container">
  <div class="row p-5">
    <div class="account-container">

<!-- Tab links start -->
      <div class="tab">
         <% if current_user.photo.attached? %>
           <%= cl_image_tag current_user.photo.key, class: "avatar-account" %>
        <% else %>
          <%= image_tag "https://icon-library.com/images/no-profile-pic-icon/no-profile-pic-icon-12.jpg", class: "avatar-account" %>
        <% end %>
        <span><%= current_user.first_name %></span>
        <br />
        <span class="menu-icon">Menu</span>
        <button class="tablinks" onclick="openCity(event, 'Account Overview')" id="defaultOpen"><i class="fas fa-user account-icon purple-background"></i> Account overview</button>
        <button class="tablinks" onclick="openCity(event, 'Tickets')"><i class="fas fa-ticket-alt account-icon blue-background"></i>Tickets</button>
        <% if current_user.artist? %>
          <button class="tablinks" onclick="openCity(event, 'Artist Details')"><i class="fas fa-music account-icon pink-background"></i>Artist Details</button>
          <button class="tablinks" onclick="openCity(event, 'Manage Events')"><i class="fas fa-cog account-icon green-background"></i>Manage Events</button>
        <% end %>
        <button class="tablinks" onclick="openCity(event, 'Edit Profile')"><i class="fas fa-edit account-icon orange-background"></i>Edit Profile</button>
        <button class="tablinks"><i class="fas fa-plus-square account-icon aqua-background"></i> <%= link_to "New Event", users_account_path %></button>
      </div>
<!-- Tab links end -->

      <div id="Account Overview" class="tabcontent">
        <div class="row p-5">
          <div class="col-md-12">
            <div class="container rounded" style="width: 900px;">

              <div class="row">
                <div class="col-md-8">
                  <%= simple_form_for (@event) do |f| %>
                    <%= f.input :event_name, input_html: { class: "nice-class", maxlength: 50 } %>
                    <%= f.label :Description %>
                    <%= f.rich_text_area :description, input_html: { maxlength: 150 } %>
                    <%= f.input :start_time, as: :string, required: true, input_html: {class: "datepicker"} %>
                    <%= f.input :end_time, as: :string, required: true, input_html: {class: "datepicker"} %>
                    <%= f.input :city %>
                    <%= f.country_select :country, priority_countries: ["GB", "US"] %>
                    <%= f.input :price_cents, label: "Price per Ticket in £" %>
                    <%= f.input :funding, label: "Crowd Funding Target" %>
                    <%= f.association :genres, multiple: true, size: 3, input_html: { class: 'select2'}, label: "Select your Genre" %>
                    <%= f.input :photo, as: :file %>
                    <%= f.submit 'Add your Event', class: 'btn btn-primary' %>
                  <% end %>
                </div>
              </div>
             </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>

