<div class="container">
  <div class="row p-5">
    <div class="account-container">

    <%= render "users/partial/tabs" %>

      <div id="Account Overview" class="tabcontent">
        <div class="row p-5">
          <div class="col-md-12">
            <h2>New Event</h2>
              <%= simple_form_for (@event) do |f| %>
                <%= f.input :event_name, input_html: { class: "nice-class", maxlength: 50 } %>
                <%= f.label :Description %>
                <%= f.rich_text_area :description, input_html: { maxlength: 150 } %>
                <%= f.input :start_time, as: :string, required: true, input_html: {class: "datepicker"} %>
                <%= f.input :end_time, as: :string, required: true, input_html: {class: "datepicker"} %>
                <%= f.input :city %>
                <%= f.country_select :country, priority_countries: ["GB", "US"] %>
                <%= f.input :price_cents, label: "Price per Ticket in £" %>
                <%= f.currency_select(:currency, ["USD", "EUR", "GBP", "ZAR"], {}, {class: "form-control"}) -%>
                <%= f.input :funding, label: "Crowd Funding Target" %>
                <%= f.association :genres, multiple: true, size: 3, input_html: { class: 'select2'}, label: "Select your Genre" %>
                <%= f.input :photo, as: :file %>
                <%= f.submit 'Add your Event', class: 'btn btn-primary' %>
              <% end %>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>

